body {
  background-color: #bbbbbb;
  
}

.hero-header {
  text-align:center;
  
  
}

.hero-image {
  vertical-align: center;
  height: 300px;
}

.nav-link {
  color: inherit;
  font-size: 24px;
}

.article-header {
  font-size: 30px;
}

.article-text {
  color: #444444;
  font-size: 24px;
  text-align:justify;
  
  
}

.italic-text-span {
  font-style: italic;
}