body {
  background-color: #bbbbbb;
  
}

.hero-header {
  text-align:center;
  
  
}

.hero-image {
  display: block;
  margin:auto;
  width: 900px;
}

.nav-link {
  color: inherit;
  font-size: 24px;
}

.article-header {
  font-size: 30px;
}

.article-text-1 {

  color: #444444;
  font-size: 16x;
  text-align: justify;
  border: solid 1px #444444;
  
  
}

.article-text-2 {

  color: #444444;
  font-size: 16x;
  text-align: justify;
  border: solid 1px #444444;
  
}

.article-text-3 {

  color: #444444;
  font-size: 16x;
  text-align: justify;
  border: solid 1px #444444;
  
}

.italic-text-span {
  font-style: italic;
}