* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #926239;
  margin: 0%;
  line-height: 1.6;
    
}

.header {
  background-image:url(./background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;

}
  
  .header-heading {
    font-size: 50px;
    padding-top: 39.4vh;
    padding-left: 34.7vw;
    margin-bottom: auto;
    
  }

  .header-text {
    display: block;
    font-size: 20px;
    display:block;
    text-align: center;

  }
 
.button {
  display: block;
  margin: auto;
  font-size: 20px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  
}

.button:hover {
  background-color: #926239;
  color: #FFFFFF;
  border: #926239 1px solid;
  cursor: pointer;

}


.section-text-1 {
  
  padding: 20px;
  font-size: 17px;
  background: #926239;
  color: #FFFFFF;
  text-align: justify;

}

.section-text-2{
  padding: 20px;
  font-size: 17px;
  background: #f9f9f9;
  text-align: justify;

}


.box-sides {
  display: inline-block;
  padding: 20px;
  font-size: 17px;
  background: #926239;
  color: #fff;
  width: 33%;

}

.box-center {
  display: inline-block;
  padding: 20px;
  font-size: 17px;
  background: #f9f9f9;
  width: 27.7%;
  
}




